modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Run Account App"

[[workflows.workflow]]
name = "Run Account App"
author = 45179841
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd account && npm install && npm run dev"

[[workflows.workflow]]
name = "Run Affiliat"
author = 45191220
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Affiliat && npm install && npm run dev"
